os: unstable

cache:
  - "%LOCALAPPDATA%\\Yarn"

environment:
  nodejs_version: "8"

install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - npm install -g yarn
  - yarn

build: off
version: '{build}'
shallow_clone: true

test_script:
  - yarn build
